/***************************************************
Body and General
****************************************************/
body
{
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	background:#232325 url(i/bg-page.gif) repeat 0 0;
	overflow-x:hidden;
	margin:0;
	padding:0;
}

.clearfix
{
	clear:both;
}

a
{
	color:#000;
}

.radius-4444
{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.radius-4400
{
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
}

.radius-0044
{
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
}



/***************************************************
Message
****************************************************/

#message
{
	background-color:#f2f2f2;
	padding:8px;
	font-size:18px;
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
}

.message
{
	background-color:#f2f2f2;
	padding:8px;
	font-size:18px;
	width:100%;
	margin-bottom:5px;
}

#message.success, .success
{
	background-color:#e8febe;
	color:#4d7304;
}

#message.error, .error
{
	background-color:#fdcfdb;
	color:#c35370;
}

#message.notice, .notice
{
	background-color:#fbf2cd;
	color:#ab9b5b;
}


/***************************************************
Header
****************************************************/

#header
{
	margin:0 0 20px 0;
	background-color:#000;
	color:#fff;
	height:50px;
	line-height:50px;
	padding:0 10px;
	border-bottom:2px #198ab1 solid;
}

#header img
{
	margin-top:12px;
}

#header a
{
	text-decoration:none;
	color:#fff;
	padding-right:5px;
}

#logo-wrapper
{
	float:left;
	font-weight:bold;
}

#account-wrapper
{
	float:right;
}

#account-wrapper a
{
	color:#888;
	font-size:10px;
	margin-left:2px;
}

#account-wrapper a:hover
{
	color:#fff;
}

/***************************************************
Title Wrapper
****************************************************/

#title-wrapper
{
	width:960px;
	margin:auto;

}

#title-wrapper h1
{
	color:#fff;
	font-weight:normal;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	margin-bottom:21px;
}

/***************************************************
Wrappers
****************************************************/

#wrapper
{
	width:960px;
	margin:auto;
	background-color:#fff;
}

.two-column-wrapper
{
	background:#fff url(i/bg-wrapper.gif) repeat-y 0 0;
}

body.post #wrapper
{
	width:100%;
}

/***************************************************
Add Rownd Form
****************************************************/

#add-rownd-wrapper
{
	background:#e4e4e4 url(i/bg-add-rownd-wrapper.gif) repeat-x 0 0;
	padding:20px;
}

input#url
{
	font-size:24px;
	width:815px;
	border:1px solid #bbb;
	color:#ccc;
	font-style:italic;
	padding:6px;
	outline:none;
	-webkit-border-radius:4px 0px 0px 4px;
	-moz-border-radius:4px 0px 0px 4px;
	border-radius:4px 0px 0px 4px;
}

#add-rownd-button
{
	background-color:#666;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#000));
	background: -moz-linear-gradient(center top , #666 0pt, #000 100%) repeat scroll 0 0 transparent;
	border:1px solid #333;
	color: #fff;
	margin-right: 12px;
	padding: 13px 15px;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
	cursor:pointer;
	position:absolute;
	top:0.9px;
	right:-12px;
}

.loader
{
	display:none;
	position:absolute;
	top: 16px;
	right: 102px;
}

#form
{
	position:relative;
}

input#url.in-focus
{
	color:#000;
	font-style:normal;
}

.edit-options
{
	position:absolute;
	top:5px;
	right:5px;
	padding:5px;
	background-color:#fff;
	z-index:5;
	border:1px solid #fff;
	border-bottom:none;
	cursor:pointer;
}

.edit-options-open
{
	border-color:#ccc;
	
}

#edit-options-wrapper
{
	padding:5px;
	border:1px solid #ccc;
	position:absolute;
	top:35px;
	right:5px;
	width:150px;
	font-size:10px;
	background-color:#fff;
	z-index:4;
	display:none;
	
}

/***************************************************
Content
****************************************************/

#content-left
{
	width:160px;
	float:left;
	padding:35px 20px;
	font-size:10px;
	text-align:center;
}

#gravatar img
{
	border:3px solid #ccc;
}

#content-right
{
	width:720px;
	float:right;
	padding:20px;
	position:relative;
}

#content-left ul
{
	margin:0;
	padding:0;
}

#content-left li
{
	list-style-type:none;
}

#content-left h2
{
	font-size:14px;
	font-weight:normal;
}

ul#profile
{
	margin-top:10px;
}

ul#syndication-options, .add-to-rowndly-wrapper
{
	padding-top:10px;
	margin-top:10px;
	border-top:1px dotted #ccc;
}

.add-to-rowndly-label
{
	font-weight:bold;
	padding-bottom:15px;
}

.add-to-rowndly-link a
{
	text-decoration:none;
	padding:5px;
	background-color:#ccc;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#syndication-options li
{
	display:inline;
	padding-right:10px;
}

.single-column
{
	padding:30px 40px;
}

.single-column .form-row
{
	padding:10px 0;
}

.single-column label
{
	display:block;
	font-weight:bold;
}

.single-column input[type=text],
.single-column input[type=password]
{
	
	width:870px;
	border:1px solid #ccc;
	background-color:#e4e4e4;
	padding:6px;
	font-size:14px;
}

.single-column .input-description
{
	font-size:10px;
	color:#666;
	font-style:italic;
}


.gradient-button
{
	background-color:#666;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#000));
	background: -moz-linear-gradient(center top , #666 0pt, #000 100%) repeat scroll 0 0 transparent;
	border:1px solid #333;
	color: #fff;
	margin-right: 12px;
	padding: 8px 15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px ;
	cursor:pointer;
}

/***************************************************
Rownds
****************************************************/

#sortable
{ 
	list-style-type: none; 
	margin: 0 0 10px; 
	padding: 0;
}

#sortable li
{ 
	text-align:left;
	margin: 0;
	padding: 10px 0 10px 15px; 
	font-size: 20px; 
	clear:both;
	border-bottom: 1px dotted #ccc;
	position:relative;
}

#sortable li:hover
{
	background:transparent url(i/icon_sortable.png) no-repeat 0px 15px;
	cursor:move;
}

#sortable a
{
	text-decoration:none;
}


.ui-state-highlight 
{
	background-color:#f2f2f2;
	border:1px solid #ccc !important;
	height:50px;
}

#sortable li.empty
{
	display:none;
}

.rownd-url, .last-visited
{
	font-size:10px;
	color:#999;
}


.inline-form
{
	display:none;
}

.inline-title, .inline-url
{
	border:1px solid #ccc;
	background-color:#e4e4e4;
	width:280px;
	padding:6px;
	font-size:14px;
}

.inline-submit, .like-button
{
	background-color:#666;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#000));
	background: -moz-linear-gradient(center top , #666 0pt, #000 100%) repeat scroll 0 0 transparent;
	border:1px solid #333;
	color: #fff;
    font-size: 11px;
    margin-right: 12px;
    padding: 8px 10px;
    text-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 0px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px ;
    border-radius:4px;
    cursor:pointer;
	position:absolute;
	top:9px;
	right:44px;
}

.delete-link
{
	position:absolute;
	top:25px;
	right:0;
	display:none;
}

.edit-link
{
	position:absolute;
	top:25px;
	right:20px;
	display:none;
}

input[type=text], 
input[type=password],
.inline-title, 
.inline-url
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

/***************************************************
Footer
****************************************************/

#footer
{
	width:960px;
	margin:auto;
	padding:20px 0;
	text-align:center;
	color:#666;
	font-size:10px;
}